@charset "UTF-8";

/* @font-face {
    font-family: "Microgramma";
    src: url("/css/fonts/Microgramma\ D\ Extended\ Bold.otf");
} */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    margin-top: 40px;
    margin: 20px;
}

body {
    font-family: sans-serif;
    font-size: 12px;
}

nav {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    transition: background-color 0.4s linear;

}
.sticky {
    position: fixed;
    bottom: -10;
    width: 100%;
}
.sticky + .content {
    padding-bottom: 60px;
}

.tab-nav-container {
    background-color: white;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0 3px 6px rgb(0, 0, 0, 0.16), 
    0 3px 6px rgb(0, 0, 0, 0.16);

    display: flex;
    justify-content: space-between;
    /* padding: 30px; */
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
    padding-top: 20px;
    width: 100%;

}

.tab {
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin: 0 10px;

    transition: background-color 0.4s linear;
}

.tab i {
    font-size: 1.2em;
}

.tab p {
    font-weight: bold;
    padding-top: 15px;
    overflow: hidden;
    max-width: 0;
}

.tab.active p{
    margin-left: 10px;
    max-width: 200px;
    transition: max-width .4s linear;
}

.tab.active.purple {
    background-color: rgb(91, 55, 183, 0.2);
    color: rgb(91, 55, 183, 1);
}
.tab.active.pink {
    background-color: rgb(201, 55, 157, 0.2);
    color: rgb(201, 55, 157, 1);
}
.tab.active.teal {
    background-color: rgb(28, 150, 162, 0.2);
    color: rgb(28, 150, 162, 1);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}

.popup {
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform:translate(-50%,-50%) scale(1.25);
    width: 400px;
    padding: 30px 30px;
    background: rgb(229, 229, 229);
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0, 15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms, 
                opacity 200ms ease-in-out 0ms, 
                transform 200ms ease-in-out 0ms;
}
.popup.active {
    position: absolute;
    z-index: 2;
    z-index: 50px;
    top: 50%;
    opacity: 1;
    transform:translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms, 
                opacity 200ms ease-in-out 0ms, 
                transform 20ms ease-in-out 0ms;

}
.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup .form h2 {
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup .form .form-elements {
    margin: 15px 0px;
}

.popup .form .form-label{
    font-size: 14px;
    color: #222;
}

.popup .form .form-elements input[type="text"],
.popup .form .form-elements input[type="date"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup .form .form-elements button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background: #222;
    color: #f5f5ff;
    border-radius: 10px;
    cursor: pointer;
}

.addBtn {
    position: absolute;
    border: none;
    bottom: 120px;
    right: 30px;
    border-radius: 100%;

    height: 60px;
    width: 60px;

    background-color: #72A3B2;
    color: white;
}

.text{
    /* margin: 40px;
    display: block; */
    align-items: center;
}

.placeholderDiv {
    margin: 40px;
    padding: 30px;
    text-align: center;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
}
  
button:focus {
    outline: 0;
} 

.card {
    /* display: flex; */
    outline: none;
    cursor: pointer;
    box-shadow: rgba(204, 219, 232) 0px 3px 8px;
}

.card:hover {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

#my_div {
    display: flex;
    flex-wrap: wrap;

    /* position: relative; */
    /* display: flex; */
    /* justify-content: space-between;  */
}
.break {
    flex-basis: 100%;
    height: 10px;
}

a {
    text-decoration: none !important;
}